/* html,
body {
  margin: 0;
  height: 100%;
  display: flex;
  min-height: 100%;
} */
html,
body,
#storybook-root {
  height: 100%;

  margin: 0;
  padding: 0;
  min-height: 100%;
}

#storybook-root {
  display: flex;
  flex: 1;
}
